<main>
    <section class="perfil">
      <img
        class="perfil__avatar"
        src="../assets/img/avatar.jpg"
        alt="imagen de avatar"
      />
      <h2 class="perfil__nombre">John Wick</h2>
      <h3 class="perfil__titulo">asesino legendario</h3>
      <a class="perfil__boton" href="">Seguir</a>
  
      <div class="perfil--estadistica">
        <div class="estadistica__elemento">
          <h3 class="estadistica__elemento--numero">12k</h3>
          <span>Seguidores</span>
        </div>
  
        <div class="estadistica__elemento">
          <h3 class="estadistica__elemento--numero">1.7k</h3>
          <span>Siguiendo</span>
        </div>
  
        <div class="estadistica__elemento">
          <h3 class="estadistica__elemento--numero">40</h3>
          <span>Artículos</span>
        </div>
      </div>
  
      <div class="perfil__bio">
        <h2>Acerca de mi</h2>
        <h3>Asesino asueldo retirado y amante de los perros</h3>
      </div>
  
      <div class="perfil__ubicacion">
        <i class="material-symbols-outlined">location_on</i>
        <div class="textos">
          <h2>Estados unidos</h2>
        <h3>227km Cerca</h3>
        </div>
      </div>
  
      <div class="perfil--galeria">
        <h2>Mis fotos</h2>
        <img
          class="galeria__foto--1"
          src="../assets/img/galeria1.jpg"
          alt=""
        />
        <img
          class="galeria__foto--2"
          src="../assets/img/galeria2.jpg"
          alt=""
        />
        <img
          class="galeria__foto--3"
          src="../assets/img/galeria3.jpg"
          alt=""
        />
        <img
          class="galeria__foto--4"
          src="../assets/img/galeria4.jpg"
          alt=""
        />
      </div>
    </section>
  
    <section class="articulos">
      <div class="secciones">
        <div class="articulo articulo__1">
          <h2>PlayStation</h2>
          <h3>GTA VI: Filtraciones de información que son bastante dudosas</h3>
          <p>Recientemente se filtró en internet una importante cantidad de supuesta información sobre Grand Theft Auto VI (GTA VI) que nos ofrece una muy buena idea de lo que podemos esperar.</p>
        </div>
        <div class="articulo articulo__2">
          <h2>Switch</h2>
          <h3>Secuela de The Legend of Zelda: Breath of the Wild anunciada en el E3 2019</h3>
          <p>Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild en el E3 2019 y todos estamos más que emocionados con esto. </p>
        </div>
        <div class="articulo articulo__3">
          <h2>XBOX</h2>
          <h3>Red dead online recibe actualización masiva y sale de beta</h3>
          <p>Rockstar lanzó el día de hoy la actualización más grande de Red Dead Online desde que el componente online de Red Dead Redemption 2 se lanzó en noviembre.</p>
        </div>
      </div>
    </section>
  </main>
