*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 100px ;
    height: 50px;
    border: 5px solid blueviolet;
}
.container{
    display: flex;
    background-color: #ff0000;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    width: 50vh;
    height: 50vh;
    flex-direction:row-reverse;
    flex-wrap: wrap;
}
/*
p{
    font-family: "Roboto",serif;
    color:aqua;
}
div p:nth-child(2n+1){
    color: blueviolet;
    font-family: "Kalnia Glaze", serif;
}
div p:hover {
    color: #ff0000;
}
.first{
    color:yellow
}
.hexadecimal{
    background-color: #00ff00;
}
.rgb{
    background-color: rgb(99, 45, 70);
}
.rgba{
    background-color: rgb(99, 45, 70, 0.5);
}
.hsl{
    background-color: hsl(270, 50%, 20%);
}
.hsla{
    background-color: hsl(270, 50%, 20%, 0.5);
}

:root{
    --title-font-family:'Intervariable',sans-serif;
    --text-size-normal: 1rem;
    --text-size-large: 2rem;
}

/*
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body {
    font-family:var(--text-font-family);
    font-size: var(--text-size-normal);
}
h1,h2{
    font-family: var(--text-font-family);
}
h1{
    font-size: var(--text-size-large);
}
header{
    margin: 10px 0px;
}
.navigation-item {
    display: inline-block;
    background-color: var( --main-color);
    color: var(--secondary-color);
    border-radius: 0.2rem;

    & > a{
        text-decoration: none;
        color: var(--secondary-color);
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 0.5rem;
    }
    & [active]{
        background-color: var(--accent-color) ;
    }

}
.navigation-item :hover{
    background-color: var(--accent-color);
    cursor: pointer;
}
*/
