.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

select, textarea,  
input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

.button {
    color: black;
    border: 1px solid #ccc;;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modalidad-container {
    display: flex;
    gap: 5px; 
}

.form-group input[type="radio"] {
    margin-right: 5px; 
}